<%- include("includes/head.ejs") %>
<%- include("includes/nav.ejs") %>

<div class="container">
      <div class="row">
            <div class="cow-lg-2"></div>

            <div class="cow-lg-8 my-3">
                  <h1 class="text-center">Login</h1>
                  <p class="text-center lead">Faça login ou crie sua conta abaixo</p>  

                  <div class="row">
                        <div class="col-lg">
                              <!--CADASTRO-->
                              <h4>Faça seu cadastro</h4>
                              <form>
                                    <!--EMAIL-->
                                    <div class="form-group">
                                      <label>Seu email</label>
                                      <input type="email" class="form-control" name="email">
                                    </div>
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                  </form>
                        </div>
                        <!--LOGIN-->
                        <div class="col-lg">
                              <h4>Entrar no sistema</h4>
                              <form>
                                    <!--EMAIL-->
                                    <div class="form-group">
                                      <label for="exampleInputEmail1">Email address</label>
                                      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                                      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                                    </div>
                                    <!--SENHA-->
                                    <div class="form-group">
                                      <label for="exampleInputPassword1">Password</label>
                                      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                                    </div>
                                    <!--CHECKBOX-->
                                    <div class="form-check">
                                      <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                      <label class="form-check-label" for="exampleCheck1">Check me out</label>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                  </form>
                        </div>
                  </div>

            </div> <!--cow-lg-8-->

            <div class="cow-lg-2"></div>
       </div>
</div>
      

<%- include("includes/footer.ejs") %>
